
.pokePic {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details{
  border: 0.5px solid black;
  padding: 10px;
  background-color:  rgba(14, 13, 13, 0.2);
}

h2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1.5px 1.5px gray;
}

h3 {
  text-transform: uppercase;
  color: green;
}

button{
  border: 1px solid green;
  color: green;
}

.saveBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}